@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
  margin: 0.2em;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7e6ff;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.header {
  padding: 0.5em;
}

.logo {
  float: left;
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #b808ff;
  text-align: center;
}

.nav ol {
  padding: 0;
}

.nav li {
  display: block;
  border: 1px #b808ff solid;
}

.nav a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.banner {
  position: relative;
}

.banner-img {
  width: 100%;
  opacity: 0.5;
  padding-top: 0.25em;
}

.banner-txt h2 {
  font-size: 1em;
  margin: 0;
}

.banner-txt p {
  font-size: 0.8em;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.banner-txt {
  position: absolute;
  bottom: 0;
  padding: 2em;
  text-align: center;
}

.title {
  display: block;
  text-align: center;
}

.img-1 {
  width: 80%;
  display: block;
  margin: 0 auto;
}

h3 {
  color: #5c047f;
  text-align: center;
}

dt {
  font-weight: bold;
  text-align: left;
}

dd {
  margin: 0;
  text-align: left;
}

.info-1 {
  padding-bottom: 0.3em;
  text-align: left;
  display: block;
}

.info-2 {
  padding-bottom: 0.3em;
  text-align: left;
  display: block;
}

.info-3 {
  padding-bottom: 0.3em;
  text-align: left;
  display: block;
}

.link a {
  color: #b808ff;
  text-decoration: none;
  font-size: 0.90em;
  display: block;
  padding-bottom: 0.25em;
  clear: both;
}

.link-2 a {
  color: #b808ff;
  text-decoration: none;
  font-size: 0.90em;
  display: block;
  padding-bottom: 0.25em;
  clear: both;
}

.tickets {
  display: block;
  padding-top: 0.5em;
  color: #b808ff;
}

.ticket {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.price {
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  list-style-type: none;
  font-size: 1em;
}

.price li {
  display: inline-block;
  background-color: white;
  border: 1px #b808ff solid;
}

.price a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.price a:hover {
  background-color: #b808ff;
  color: white;
  text-decoration: none;
}

.member {
  display: block;
  padding-top: 0.5em;
  color: #b808ff;
}

.memb {
  display: block;
  text-align: left;
}

.now-playing {
  float: left;
  text-align: left;
  clear: both;
}

.playing-title {
  display: block;
  float: left;
  margin: 0;
}

.playing-text {
  display: block;
  float: left;
}

.week-list {
  text-align: center;
  clear: both;
  padding-top: 1em;
}

.week ol {
  text-decoration: none;
  list-style-type: none;
  display: block;
  padding: 0;
}

.week h3 {
  color: #b808ff;
  text-decoration: none;
  text-align: left;
  display: block;
  clear: both;
}

.week li {
  text-decoration: none;
  display: block;
  float: left;
}

footer {
  background-color: #b808ff;
  margin: 0;
  padding: 1em;
  width: 100%;
  clear: both;
}

.footer {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: none;
}

.footer ul {
  padding: 0;
}

.footer li {
  display: block;
  background-color: white;
  border: 1px #b808ff solid;
  font-size: 0.8em;
  text-align: center;
}

.footer a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: #b808ff;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
    clear: both;
  }

  .header {
    padding: 0.5em;
  }

  .logo {
    float: left;
    height: 50%;
    width: 50%;
    margin-left: 25%;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #b808ff;
    text-align: center;
  }

  .nav li {
    display: inline-block;
    border: 1px #b808ff solid;
  }

  .nav a {
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
    color: black;
  }

  .nav a:hover {
    background-color: white;
    color: #b808ff;
    text-decoration: none;
    padding: 0.25em;
  }

  .banner {
    position: relative;
  }

  .banner-img {
    width: 100%;
    opacity: 0.5;
    padding-top: 0.25em;
  }

  .banner-txt h2 {
    font-size: 1.25em;
    margin: 0;
  }

  .banner-txt p {
    font-size: 0.9em;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .banner-txt {
    position: absolute;
    bottom: 3em;
    padding: 2em;
    text-align: center;
  }

  h3 {
    color: #5c047f;
    text-align: center;
  }

  dt {
    font-weight: bold;
    text-align: left;
  }

  dd {
    margin: 0;
    text-align: left;
  }

  .info-1 {
    padding-bottom: 0.3em;
    padding-right: 1.25em;
    text-align: left;
    display: inline-block;
  }

  .info-2 {
    padding-bottom: 0.3em;
    padding-right: 1.25em;
    text-align: left;
    display: inline-block;
  }

  .info-3 {
    padding-bottom: 0.3em;
    padding-right: 1.25em;
    text-align: left;
    display: inline-block;
  }

  .tickets {
    display: block;
    padding-top: 0.5em;
    color: #b808ff;
  }

  .ticket {
    display: inline-block;
    text-align: left;
  }

  .price {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    list-style-type: none;
    font-size: 1em;
  }

  .price li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
  }

  .price a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .price a:hover {
    background-color: #b808ff;
    color: white;
    text-decoration: none;
  }

  .member {
    display: block;
    padding-top: 0.5em;
    color: #b808ff;
    clear: both;
  }

  .memb {
    display: block;
    text-align: left;
  }

  .footer {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    list-style-type: none;
  }

  .footer li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
    font-size: 0.8em;
    text-align: center;
  }

  .footer a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .footer a:hover {
    color: #b808ff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 745px) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #b808ff;
    text-align: center;
  }

  .nav li {
    display: inline-block;
    border: 1px #b808ff solid;
  }

  .nav a {
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
    color: black;
  }

  .nav a:hover {
    background-color: white;
    color: #b808ff;
    text-decoration: none;
    padding: 0.25em;
  }

  .banner {
    position: relative;
  }

  .banner-img {
    width: 100%;
    opacity: 0.5;
    padding-top: 0.25em;
  }

  .banner-txt h2 {
    font-size: 1.25em;
    margin: 0;
  }

  .banner-txt p {
    font-size: 0.9em;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .banner-txt {
    position: absolute;
    bottom: 7em;
    right: 4.5em;
    padding: 2em;
    text-align: center;
  }

  h3 {
    color: #5c047f;
    text-align: center;
  }

  dl {
    max-width: 550px;
    margin: 0 auto;
  }

  dt {
    font-weight: bold;
    text-align: left;
  }

  dd {
    margin: 0;
    text-align: left;
  }

  .info-1 {
    padding-bottom: 0.3em;
    padding-right: 1.25em;
    text-align: center;
    display: inline-block;
  }

  .info-2 {
    padding-bottom: 0.3em;
    padding-right: 1.25em;
    text-align: center;
    display: inline-block;
  }

  .info-3 {
    padding-bottom: 0.3em;
    padding-right: 1.25em;
    text-align: center;
    display: inline-block;
  }

  .link {
    text-align: center;
  }

  .link a {
    color: #b808ff;
    text-decoration: none;
    font-size: 0.90em;
    display: block;
    padding-bottom: 0.25em;
    clear: both;
  }

  .img-1 {
    width: 80%;
    display: block;
    margin: 0 auto;
    clear: both;
  }

  .tickets {
    display: block;
    padding-top: 0.5em;
    color: #b808ff;
    text-align: center;
    clear: both;
  }

  .ticket {
    display: inline-block;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  .price {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    list-style-type: none;
    font-size: 1em;
    padding-left: 0;
  }

  .price ul {
    padding: 0;
  }

  .price li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
  }

  .price a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .price a:hover {
    background-color: #b808ff;
    color: white;
    text-decoration: none;
  }

  .member {
    display: block;
    padding-top: 0.5em;
    color: #b808ff;
    padding-left: 1em;
    clear: both;
  }

  .memb {
    display: block;
    text-align: center;
    clear: both;
  }

  .center {
    text-align: center;
  }

  .playing-text {
    display: block;
    float: left;
    clear: both;
  }

  .playing-title {
    display: block;
    clear: both;
  }

  .week-list {
    text-align: left;
    clear: both;
    padding-top: 1em;
  }

  .week ol {
    text-decoration: none;
    list-style-type: none;
    display: block;
  }

  .week h3 {
    color: #b808ff;
    text-decoration: none;
    text-align: center;
    display: block;
    clear: both;
    text-align: left;
  }

  .week li {
    text-decoration: none;
    display: block;
    float: left;
  }

  .weekend {
    display: block;
    float: left;
  }

  .monday {
    display: block;
    float: left;
  }
  .tuesday {
    display: block;
    float: left;
  }
  .wednesday {
    display: block;
    float: left;
  }
  .thursday {
    display: block;
    float: left;
  }
  .friday {
    display: block;
    float: left;
  }


  .footer {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    list-style-type: none;
  }

  .footer li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
    font-size: 0.8em;
    text-align: center;
  }

  .footer a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .footer a:hover {
    color: #b808ff;
    text-decoration: none;
  }
}

@media only screen and (min-width: 864px) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .logo {
    height: 20%;
    width: 20%;
    margin-left: 15%;
    display: inline-block;
    padding-bottom: 1em;
  }

  h1 {
    padding-top: 1em;
    margin: 0;
    font-size: 2em;
    text-align: center;
    display: inline-block;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #b808ff;
    text-align: center;
    display: block;
    clear: both;
  }

  .banner-txt {
    position: absolute;
    bottom: 10em;
    right:8em;
    padding: 2em;
    text-align: center;
  }

  dl {
    max-width: 550px;
    margin: 0 auto;
  }

  .week ol {
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 0;
    clear: both;
  }

  .week h3 {
    color: #b808ff;
    text-decoration: none;
    text-align: left;
    display: block;
    clear: both;
  }

  .week li {
    text-decoration: none;
    display: block;
    float: left;
    clear: both;
  }
}

@media only screen and (min-width: 1300px) {

  html {
    font-size: 140%;
    line-height: 1.6;
  }

  .logo {
    height: 10%;
    width: 10%;
    margin-left: 30%;
    display: inline-block;
    padding-bottom: 1em;
  }

  h1 {
    padding-top: 1.25em;
    margin: 0;
    font-size: 2em;
    text-align: center;
    display: inline-block;
  }

  .banner-txt {
    position: absolute;
    bottom: 20em;
    right:24em;
    padding: 2em;
    text-align: center;
  }

}

@media only screen and (min-width: 1600px) {

  html {
    font-size: 150%;
    line-height: 1.6;
  }

  .logo {
    height: 10%;
    width: 10%;
    margin-left: 30%;
    display: inline-block;
    padding-bottom: 1em;
  }

  h1 {
    padding-top: 1.25em;
    margin: 0;
    font-size: 2em;
    text-align: center;
    display: inline-block;
  }

  .banner-txt {
    position: absolute;
    bottom: 20em;
    right: 35em;
    padding: 2em;
    text-align: center;
  }

}
