@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.header {
  padding: 0.5em;
}

.logo {
  float: left;
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

.nav {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  background-color: #b808ff;
  text-align: center;
}

.nav li {
  display: block;
  border: 1px #b808ff solid;
}

.nav a {
  display: inline-block;
  padding: 0.25em;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.banner-img {
  position: relative;
  width: 100%;
  opacity: 0.5;
  padding-top: 0.25em;
}

.banner-txt h2 {
  font-size: 1.25em;
}

.banner-txt p {
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.banner-txt {
  position: absolute;
  float: left;
  top: 40%;
  padding: 2em;
  text-align: center;
}

.title {
  display: block;
  text-align: center;
}

.img-1 {
  width: 100%;
}

.info-1 {
  float: left;
  padding: 0.5em;
  text-align: left;
  display: block;
}

.info-2 {
  float: left;
  padding: 0.5em;
  text-align: left;
  display: block;
}

.info-3 {
  float: left;
  padding: 0.5em;
  text-align: left;
  display: block;
}

.link a {
  color: #b808ff;
  text-decoration: none;
  font-size: 0.90em;
  display: block;
  float: left;
  padding-bottom: 0.25em;
  clear: both;
}

.tickets {
  display: block;
  float: left;
  padding-top: 0.5em;
  color: #b808ff;
  padding-left: 1em;
}

.ticket {
  display: inline-block;
  text-align: center;
}

.price {
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  list-style-type: none;
  float: left;
  font-size: 1em;
}

.price li {
  display: inline-block;
  background-color: white;
  border: 1px #b808ff solid;
}

.price a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.price a:hover {
  background-color: #b808ff;
  color: white;
  text-decoration: none;
}

.member {
  display: block;
  float: left;
  padding-top: 0.5em;
  color: #b808ff;
  padding-left: 1em;
}

.memb {
  display: block;
  float:left;
  text-align: center;
}

.now-playing {
  float: left;
  text-align: center;
  clear: both;
}

.playing-title {
  display: block;
  float: left;
  margin: 0;
}

.playing-text {
  display: block;
  float: left;
}

.week-list {
  text-align: center;
  clear: both;
  padding-top: 1em;
}

.week ol {
  text-decoration: none;
  list-style-type: none;
  display: block;
}

.week h3 {
  color: #b808ff;
  text-decoration: none;
  text-align: center;
  display: block;
  clear: both;
}

.week li {
  text-decoration: none;
  display: block;
  float: left;
}

.weekend {
  display: block;
  float: left;
}

.monday {
  display: block;
  float: left;
}
.tuesday {
  display: block;
  float: left;
}
.wednesday {
  display: block;
  float: left;
}
.thursday {
  display: block;
  float: left;
}
.friday {
  display: block;
  float: left;
}

footer {
  background-color: #b808ff;
  margin: 0;
  padding: 1em;
  width: 100%;
  clear: both;
}

.footer {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: none;
}

.footer li {
  display: block;
  background-color: white;
  border: 1px #b808ff solid;
  font-size: 0.8em;
  text-align: center;
}

.footer a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: #b808ff;
  text-decoration: none;
}

@media only screen and (min-width: 493px) {

  h1 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
    clear: both;
  }

  .header {
    padding: 0.5em;
  }

  .logo {
    float: left;
    height: 50%;
    width: 50%;
    margin-left: 25%;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #b808ff;
    text-align: left;
  }

  .nav li {
    display: inline-block;
    border: 1px #b808ff solid;
  }

  .nav a {
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
    color: black;
  }

  .nav a:hover {
    background-color: white;
    color: #b808ff;
    text-decoration: none;
    padding: 0.25em;
  }

  .banner-txt h2 {
    font-size: 1.5em;
  }

  .banner-txt p {
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .banner-txt {
    position: absolute;
    float: left;
    top: 30%;
    padding: 2em;
    text-align: center;
  }

  .tickets {
    display: block;
    float: left;
    padding-top: 0.5em;
    color: #b808ff;
    text-align: left;
  }

  .ticket {
    display: inline-block;
    text-align: center;
  }

  .price {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    list-style-type: none;
    float: left;
    font-size: 1em;
  }

  .price li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
  }

  .price a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .price a:hover {
    background-color: #b808ff;
    color: white;
    text-decoration: none;
  }

  .member {
    display: block;
    float: left;
    padding-top: 0.5em;
    color: #b808ff;
    padding-left: 1em;
    clear: both;
  }

  .memb {
    display: block;
    float:left;
    text-align: center;
  }

  .footer {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    list-style-type: none;
  }

  .footer li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
    font-size: 0.8em;
    text-align: center;
  }

  .footer a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .footer a:hover {
    color: #b808ff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 560px) {

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #b808ff;
    text-align: center;
  }

  .nav li {
    display: inline-block;
    border: 1px #b808ff solid;
  }

  .nav a {
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
    color: black;
  }

  .nav a:hover {
    background-color: white;
    color: #b808ff;
    text-decoration: none;
    padding: 0.25em;
  }

  .banner-txt h2 {
    font-size: 1.5em;
  }

  .banner-txt p {
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .banner-txt {
    position: absolute;
    float: left;
    top: 30%;
    padding: 2em;
    text-align: center;
  }

  .tickets {
    display: block;
    float: left;
    padding-top: 0.5em;
    color: #b808ff;
    text-align: left;
  }

  .ticket {
    display: inline-block;
    text-align: center;
  }

  .price {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    list-style-type: none;
    float: left;
    font-size: 1em;
  }

  .price li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
  }

  .price a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .price a:hover {
    background-color: #b808ff;
    color: white;
    text-decoration: none;
  }

  .member {
    display: block;
    float: left;
    padding-top: 0.5em;
    color: #b808ff;
    padding-left: 1em;
    clear: both;
  }

  .memb {
    display: block;
    float:left;
    text-align: center;
  }

  .footer {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    list-style-type: none;
  }

  .footer li {
    display: inline-block;
    background-color: white;
    border: 1px #b808ff solid;
    font-size: 0.8em;
    text-align: center;
  }

  .footer a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }

  .footer a:hover {
    color: #b808ff;
    text-decoration: none;
  }
}
