html {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.header {
  padding: 1em;
}

.logo {
  float: left;
  height: 2em;
  width: 4em;
  margin-right: 1em;
  margin-left: 2em;
}

.nav {
  margin: 0;
  padding: 0.25em;
  list-style-type: none;
}

.nav li {
  display: inline-block;
  background-color: white;
  border: 1px #b808ff solid;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: #b808ff;
  color: white;
  text-decoration: none;
}

.banner-img {
  position: relative;
  width: 100%;
  opacity: 0.5;
}

.banner-txt h2 {
  font-size: 1.5em;
}

.banner-txt p {
  font-size: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.banner-txt {
  position: absolute;
  float: left;
  top: 25%;
  padding: 2em;
  text-align: center;
}
