html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.header {
  padding: 1em;
}

.logo {
  float: left;
  height: 2em;
  width: 4em;
  margin-right: 1em;
  margin-left: 1em;
}

.nav {
  margin: 0;
  padding: 0.25em;
  list-style-type: none;
}

.nav li {
  display: inline-block;
  background-color: white;
  border: 1px #b808ff solid;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: #b808ff;
  color: white;
  text-decoration: none;
}

.banner-img {
  position: relative;
  width: 100%;
  opacity: 0.5;
}

.banner-txt h2 {
  font-size: 1em;
}

.banner-txt p {
  font-size: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
}

.banner-txt {
  position: absolute;
  float: left;
  top: 27%;
  padding: 2em;
  text-align: center;
}

.title {
  display: block;
  text-align: center;
}

.img-1 {
  width: 100%;
}

.info-1 {
  float: left;
  padding: 0.5em;
  text-align: center;
}

.info-2 {
  float: left;
  padding: 0.5em;
  text-align: center;
}

.info-3 {
  float: left;
  padding: 0.5em;
  text-align: center;
}

.link a {
  color: #b808ff;
  text-decoration: none;
  font-size: 0.90em;
  display:block;
}

.tickets {
  display: block;
  float: left;
  text-align: center;
  padding-top: 2em;
}

.ticket {
  display: inline-block;
  text-align: center;
}

.price {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  list-style-type: none;
}

.price li {
  display: inline-block;
  background-color: white;
  border: 1px #b808ff solid;
}

.price a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.price a:hover {
  background-color: #b808ff;
  color: white;
  text-decoration: none;
}

.member {
  display: block;
  float: left;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

.memb {
  display: block;
  text-align: center;
}

.week ol {
  text-decoration: none;
}

.week h3 {
  color: #b808ff;
  text-decoration: none;
}

.week li {
  text-decoration: none;
}

footer {
  background-color: #b808ff;
  margin: 0;
  padding: 1em;
  width: 100%;
}

.footer {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style-type: none;
}

.footer li {
  display: inline-block;
  background-color: white;
  border: 1px #b808ff solid;
  font-size: 0.75em;
}

.footer a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: #b808ff;
}

.footer a:hover {
  background-color: #b808ff;
  color: white;
  text-decoration: none;
}
